
    body {
        font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        background-image: url('z.jpg');
        background-size: cover; 
        background-position: fixed; 
    }

    h4 {
        color: black;
    }

#output {
        margin-top: 20px;
    }
    
p {
        border: 3px solid grey;
        margin: 10px 50px 10px 50px;
    }
